<div>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      CheapFlight
    </a>
  </div>

  <div class="nav-center">
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu"></div>
</nav>
  <section>
    <date-wrapper
      start-date="$ctrl.startDate"
      end-date="$ctrl.endDate">
    </date-wrapper>
    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">
          Fly out:
        </label>
      </div>
      <div class="control">
        <location-picker
          data="$ctrl.departureData"
        >
        </location-picker>
      </div>
      <div class="control-label">
        <label class="label">
          Fly out:
        </label>
      </div>
      <div class="control">
        <location-picker
          data="$ctrl.arrivalData"
        >
        </location-picker>
      </div>
    </div>
    <div class="home__go-search-container">
      <button ng-click="$ctrl.goSearch()">Search</button>
    </div>
  </section>
</div>
