<div>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      <img src="https://s3-eu-west-1.amazonaws.com/breakaway.ie/add_extra_magic/flights/ryanair-logo.png">
    </a>
    <a class="nav-item is-brand" href="#">
      Wesley Rebelo
    </a>
  </div>

  <div class="nav-center">
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu"></div>
</nav>
  <section>
    <date-wrapper
      start-date="$ctrl.startDate"
      end-date="$ctrl.endDate">
    </date-wrapper>
    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">
          From:
        </label>
      </div>
      <div class="control">
        <location-picker
          data="$ctrl.departureData"
        >
        </location-picker>
      </div>
      <div class="control-label">
        <label class="label">
          To:
        </label>
      </div>
      <div class="control">
        <location-picker
          data="$ctrl.arrivalData"
        >
        </location-picker>
      </div>
      <button 
        ng-click="$ctrl.goSearch()"
        class="home-component__btn-go-search button-select"
      >Search</button>
    </div>
  </section>
</div>
