<div>
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      CheapFlight
    </a>
  </div>

  <div class="nav-center">
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu"></div>
</nav>
  <section>
    <date-wrapper
      start-date="$ctrl.startDate"
      end-date="$ctrl.endDate">
    </date-wrapper>
    <location-picker
      data="arrivalData"
    >
    </location-picker>
    <location-picker
      data="departurelData"
    >
    </location-picker>

    <button ng-click="$ctrl.goSearch()">Search</button>
  </section>
</div>
