//Main modules definitions
body {
  background-image: linear-gradient(to top,#1e8adf,#2994e6);
  height: 100vh;
}

.button-select {
  color: #073590;
  background-color: #F1C933;
  border-color: #F1C933;
  padding: 2px 30px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: #ebbd10;
  }
}